<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.9/fullpage.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.9/fullpage.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <title>#IMPLUDE</title>
</head>
<style>
    html {
        margin: 0;
        padding: 0
    }

    .section {
        background-color: #000000;
        flex-direction: column;
        display: flex;
    }

    .link {
        flex-direction: column;
        display: flex;
        height: 70%;
    }

    .l1 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 1.3rem;
        color: white;
        text-align: center;
        margin: auto;
    }

    .l2 {
        font-size: 32px;
        color: #FF3E3E;
        font-weight: 700;
    }

    .l3 {
        color: #FC55FF;
        font-weight: 700;
    }

    a {
        text-decoration-line: none;
        color: white;
    }

    .button {
        background: linear-gradient(92.94deg, #3A89FF 0%, #A4C5F7 100%);
        border-radius: 10px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        height: 58px;
        display: flex;
        flex-direction: column;
    }

    .button a {
        width: 80%;
        margin: auto;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        color: #000000;
    }
</style>

<body>
    <div id="fullpage">
        <div class="section">
            <a href="/"><img src="../public/images/Home_Page.png" style="position:absolute; top:0;margin:20px"
                    width="40px" height="40px" alt=""></a>
            <div style="height:80%; justify-content: space-between; display: flex;flex-direction: column;">
                <div class="link">
                    <div class="l1 l2">명함을 만들기 전에!</div>
                    <div class="l1">더욱 건전하고 재밌는</div>
                    <div class="l1">체험활동을 진행하기 위해</div>
                    <div class="l1">타인에게 <span class="l3">혼란을 줄 수 있는</span></div>
                    <div class="l1">과도한 몰입은 <span style="color:#FF3E3E;">삼가</span>주시기 바랍니다</div>
                </div>
                <div class="button"><a
                        href="https://implude22.notion.site/IMPLUDE-35c4347eabe9462cb9a61f178b05cfb1">동의하고 명함만들기<span
                            style="float:right">></span></a></div>
            </div>
        </div>
    </div>
    <script>
        new fullpage('#fullpage', {
            //options here
            autoScrolling: true,
            scrollHorizontally: true
        });
    </script>
</body>

</html>